<!DOCTYPE html>
<html  lang="en">
<head>
	<title>Display Blocks</title>
	<link rel="stylesheet" type="text/css" href="David_Savage_Displaying_Blocks.css">
</head>
<body>
	<div class="Page_Container" "David Savage Display Blocks">
		<div class="column_container_one">
           	<img class="cat_picture_blue" src="dojocat.jpg" height="170" width="170">
           	<img class="cat_picture_blue" src="coder2.jpg" height="170" width="170">
           	<img class="cat_picture_blue" src="cherry.jpg" height="170" width="170">
           	<img class="cat_picture_blue" src="aidorucat.png" height="170" width="170">
		</div>
		<div class="column_container_two">
           	<img class="cat_picture_red" src="heisencat.png" height="170" width="170">
           	<img class="cat_picture_red" src="riddlocat.png" height="170" width="170">	
           	<img class="cat_picture_red" src="oktobercat.png" height="170" width="170">
           	<img class="cat_picture_red" src="domo-cat.png" height="170" width="170">
		</div>
		<div class="column_container_three">
           	<img class="cat_picture_blue" src="linkcat.png" height="170" width="170">
           	<img class="cat_picture_blue" src="chellocat.jpg" height="170" width="170">	
           	<img class="cat_picture_blue" src="mario.png" height="170" width="170">
           	<img class="cat_picture_blue" src="kantana.jpg" height="170" width="170">
		</div>
		<div class="column_container_four" height="170" width="170">
           	<img class="cat_picture_red" src="ironcat.png" height="170" width="170">
           	<img class="cat_picture_red" src="stormtroopocat.png" height="170" width="170">	
           	<img class="cat_picture_red" src="cooler.png" height="170" width="170">
           	<img class="cat_picture_red" src="daftpunk.gif" height="170" width="170">
         </div>
		<div class="column_container_five">
           	<img class="cat_picture_blue" src="defunktocat.png" height="170" width="170">
           	<img class="cat_picture_blue" src="visionary.jpg" height="170" width="170">	
           	<img class="cat_picture_blue" src="jean-luc-picat.jpg" height="170" width="170">
           	<img class="cat_picture_blue" src="codercat.jpg" height="170" width="170">
         </div>
	</div>
  <div>
    <audio id="audiotag1" src="dogbarking.wav" preload="auto"></audio>
<!--     <a href="javascript:play_single_sound();">Play 5-sec sound on single channel</a> -->
  </div>

  <script type="text/javascript">

    document.onclick = function(z){
      console.log(z);
      document.getElementById('audiotag1').play();
    }
    document.onkeydown = function(x){
      console.log(x);
    }


  </script>

</body>
</html>