<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            .table{
                width: 700px;
                border: solid lightgrey;
            }
            th{
                border: solid lightgrey;
            }
            td{
                border: solid lightgrey;
            }
            tr{
                border: solid lightgrey;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Full Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fname in list %}
                    <tr>
                        <td>{{ fname['first_name'] }}</td>
                        <td>{{ fname['last_name'] }}</td>
                        <td>{{ fname['first_name'] + " " + fname['last_name'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
