<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Display Comments</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <p class="alert alert-danger">{{message}}</p>
        {% endfor %}
      {% endif %}
      <form action="/comments/{{course.id}}/add/" method="post">
        {% csrf_token %}
        <h3>Add a Comment:</h3>
        <textarea class="form-control" name="comment" rows="4"></textarea>
        <button class="btn btn-primary my-3" type="submit" name="addcomment">Add Comment</button>
      </form>
      <a href="/">Go back</a>
      <h4>All Comments:</h4>
      {% for comment in comments %}
        <p>{{comment.text}}</p>
      {% endfor %}
    </div>
  </body>
</html>
