<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Understanding Routing Form</title>
</head>
<body>
  <div class="container">
      <form class="getinfo" method="post">
        <input class="br3 bn bt br--left bg-light-green"type=number name=number placeholder="69">
        <input class="grow bn br3 bb br--right b--blue bg-green washed-yellow" type=submit value=Submit>
      </form>
  </div>
</body>
</html>
